<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>Stencil Component Starter</title>
    <script type="module" src="/build/components.esm.js" defer></script>
    <script nomodule src="/build/components.js" defer></script>
</head>
<body>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        [data-lang] {
            display: none;
        }

        pulumi-chooser ul {
            list-style-type: none;
            display: flex;
        }

        pulumi-chooser li {
            margin-right: 8px;
        }
    </style>

    <pulumi-root></pulumi-root>

    <pulumi-convert
        from="tf"
        endpoint="https://1qm03yusb2.execute-api.us-west-2.amazonaws.com/stage"
        examples='[{"code":"data \"aws_ami\" \"ubuntu\" {\n    most_recent = true\n\n    filter {\n        name   = \"name\"\n        values = [\"ubuntu/images/hvm-ssd/ubuntu-trusty-14.04-amd64-server-*\"]\n    }\n\n    filter {\n        name   = \"virtualization-type\"\n        values = [\"hvm\"]\n    }\n\n    owners = [\"099720109477\"] # Canonical\n}\n\nresource \"aws_instance\" \"web\" {\n    ami           = \"${data.aws_ami.ubuntu.id}\"\n    instance_type = \"t2.micro\"\n\n    tags = {\n        Name = \"HelloWorld\"\n    }\n}\n","description":"This Terraform sample provisions an AWS EC2 instance running Ubuntu.","filename":"main.tf","name":"AWS EC2 Instance with Ubuntu"}]'></pulumi-convert>
</body>
</html>
